<div class="wrapper">
  <div class="centerblock">
    <h3 class="item">Button</h3>
    <button (click)="showButton()" class="item">Show Button</button>
    <button (click)="hideButton()" class="item">Hide Button</button>
  </div>
  <div class="centerblock">
    <h3 class="item">Dialog</h3>
    <button (click)="showDialog()" class="item">Show Dialog</button>
    <button (click)="hideDialog()" class="item">Hide Dialog</button>
  </div>
  <!-- TODO: ADD DIV WITH BLOCK STATUS CHANGES -->
  <!-- TODO: ADD LANGUAGE SWITCH -->
</div>