
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper .block1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
}
.wrapper .block2{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding:15px;
}
.wrapper .block2 .item{
    margin-bottom: 30px;
    padding: 15px;
    width: 200px;
    max-width: 100%;
}
.ul-wrapper{
    border:1px solid #ccc;
}
@media (min-width: 769px) {
    .wrapper .block1{
        flex-direction: row;
    }
}